.about-hero {
  background-color: var(--color-background);
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
}

.about-hero h1 {
  margin-bottom: 16px;
}

.about-hero p {
  max-width: 800px;
  margin: auto;
  color: var(--color-font);
}

.about-content p {
  /* margin-bottom: 24px; */
  line-height: 1.7;
}

/* Features */
.features {
  margin-top: 64px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--color-background-light);
  padding: 32px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feature-icon {
  stroke: var(--color-primary);
}

/* Team Section */
.team {
  margin-top: 80px;
  text-align: center;
}

.team h2 {
  margin-bottom: 40px;
  font-size: 28px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.team-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.team-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.team-card h4 {
  margin-bottom: 5px;
}

.team-card span {
  font-size: 14px;
}

/* Story Section */

.story h2 {
  margin-bottom: 24px;
  text-align: center;
}

.story p {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
