/* ANALYTICS CARDS */
.analytics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.analytic-card {
  /* background-color:  */
  height: 150px;
  text-align: center;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--color-background-light);
  box-shadow: 0 4px 29px rgba(0, 0, 0, 0.08);
}

/* RECENT COURSES TABLE */
.recent-courses h2 {
  margin-bottom: 24px;
}

.recent-table th,
.recent-table td {
  border-bottom: 1px solid var(--color-border);
}
