.admin-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

.admin-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
