/* DASHBOARD STYLES  */
.dashboard {
  display: flex;
  /* gap: 48px; */
}

/* SIDEBAR STYLES */
/* make sidebar fixed at the left */
.sidebar {
  max-width: 250px;
  width: 100%;
  height: 100vh;
  position: sticky;
  flex-shrink: 0;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--color-background);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* MAIN CONTENT STYLES */
.main-content {
  padding-top: 24px;
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
}

/* ANALYTICS CARDS */
.analytics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.analytic-card {
  /* background-color:  */
  height: 150px;
  text-align: center;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--color-border);
}

/* RECENT COURSES TABLE */
.recent-courses h2 {
  margin-bottom: 24px;
}

.recent-table th,
.recent-table td {
  border-bottom: 1px solid var(--color-border);
}
