.create-heading {
  margin-bottom: 48px;
}

.create-form {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

input,
textarea,
select {
  font-family: var(--font-primary);
  font-size: 14px;
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  outline: none;
}
