.header {
  position: sticky;
  top: 0;

  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  z-index: 999;
}
.header-logo {
  display: flex;
  align-items: center;
  /* height: 60px;
  width: auto; */
}
.header-logo img {
  display: inline-block;
  width: 60px;
}

.header-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}
.mobile-menu {
  cursor: pointer;
}
.mobile-menu span {
  background-color: #000;
  height: 2px;
  width: 24px;
  display: block;
}

.mobile-menu span:not(:last-child) {
  margin-bottom: 4px;
}

.mobile-links {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 96px;
  padding-bottom: 16px;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.mobile-links li:not(:last-child) {
  margin-bottom: 16px;
}
