.header {
  position: sticky;
  top: 0;

  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.header-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}
