.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 420px;
  max-height: 900px;
  overflow: hidden;
  background-image: url("/img/hero-banner.png");
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .hero {
    height: 50vh;
    min-height: 380px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 60vh;
    min-height: 320px;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 40vh;
    min-height: 260px;
  }
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.dots {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

/* About us section */

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
}

.about-image {
  flex: 1 1 300px;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.about-text {
  flex: 2 1 500px;
}

.subtitle {
  display: inline-block;
  color: var(--color-primary);
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 2px dotted var(--color-primary);
}

.about-text h2 {
  margin-bottom: 24px;
}

.about-text p {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    /* text-align: center; */
  }

  /* .about-text h2 {
    font-size: 1.7rem;
  } */
}

/* Course section  */
.courses {
  text-align: center;
}

.courses h2 {
  margin-bottom: 12px;
}

.courses p {
  margin-bottom: 24px;
}

.courses-container {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
}

.course-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 24px;
}

.course-content {
  padding-left: 24px;
  padding-right: 24px;
  flex: 1;
}

.course-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 16px;
}

.course-price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.course-rating {
  color: var(--color-primary);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.course-title {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 600;
}

.course-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  border-top: 1px solid #eee;
  padding-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .course-card {
    width: 45%;
  }
}

@media (max-width: 650px) {
  .course-card {
    width: 100%;
  }
}

/* Testimonial */
.testimonial {
  text-align: center;
}

.testimonial-header h2 {
  margin-bottom: 16px;
}

.testimonial-header p {
  max-width: 720px;
  margin: 0 auto;
  line-height: 1.6;
}

.testimonial-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.testimonial-card {
  background: #fff;
  border-radius: 14px;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.testimonial-avatar img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 1rem;
}

.testimonial-name {
  font-weight: 600;
  font-size: 1rem;
}

.testimonial-role {
  font-size: 0.8rem;
  color: #868e96;
  margin-bottom: 1rem;
}

.divider {
  height: 1px;
  background: #e5e7eb;
  margin: 1rem 0;
}

.testimonial-text {
  position: relative;
  font-size: 0.9rem;
  line-height: 1.7;

  padding: 0 1.25rem;
  flex-grow: 1;
}

.testimonial-text::before,
.testimonial-text::after {
  position: absolute;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
}

.testimonial-text::before {
  content: "“";
  left: 0;
  top: -0.5rem;
}
.testimonial-text::after {
  content: "”";
  right: 0;
  bottom: -1rem;
}

.stars {
  margin-top: 1.5rem;
  color: var(--color-primary);
  font-size: 1.1rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-header h2 {
    font-size: 1.6rem;
  }
}

/* VIDEO GALLERY */
.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 24px;
}
.video {
  aspect-ratio: 16 / 9;
  cursor: pointer;
}

.thumb {
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Desktop */
/* layout */
.video-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.video-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3.5;
}
.video-3 {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}
.video-4 {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
}
.video-5 {
  grid-column: 2 / 3;
  grid-row: 3.5 / 6;
}
.video-6 {
  grid-column: 3 / 4;
  grid-row: 3.5 / 6;
}
.video-7 {
  grid-column: 4 / 6;
  grid-row: 2 / 6;
}

/* Tablet */
@media (max-width: 1024px) {
  .gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .video {
    grid-column: auto;
    grid-row: auto;
  }

  /* .video-2,
  .video-7 {
    grid-column: span 2;
  } */
}
/* Mobile */
@media (max-width: 600px) {
  .gallery-wrapper {
    grid-template-columns: 1fr;
  }
}

/* MODAL  */
.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.video-modal.active {
  display: flex;
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 900px;
}

.modal-content video {
  width: 100%;
  border-radius: 12px;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 36px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}
