/* MEDIA QUERIES */
/* 1440px */
/* 1024px  */
/* 375px */

@media (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}
@media (max-width: 1023px) {
  .hide-mobile {
    display: none;
  }
}
