.signup {
  padding-top: 96px;
  /* padding-bottom: 144px; */
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.signup-wrapper h2 {
  margin-bottom: 48px;
  text-align: center;
}
.form-signup {
  max-width: 450px;
  width: 100%;
  margin-bottom: 48px;
}
