@import "global.css";
@import "home.css";
@import "about.css";
@import "admin-dashboard.css";
@import "courses.css";
@import "create-course.css";
@import "edit-course.css";
@import "course-details.css";
@import "users.css";
@import "account-settings.css";
@import "user-dashboard.css";
@import "admin-navbar.css";
@import "header.css";
@import "signup.css";
@import "signin.css";
@import "categories.css";
@import "media-queries.css";
@import "footer.css";
