.courses {
  padding-top: 24px;
}
.course-card {
  width: 350px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.course-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-body {
  padding: 16px;
}

.course-title {
  margin-bottom: 16px;
}

.course-rating {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.star {
  color: gold;
  font-size: 18px;
  margin-right: 2px;
}

.star.inactive {
  color: #dcdcdc;
}

.rating-text {
  margin-left: 6px;
}

.course-progress {
  margin-bottom: 16px;
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  /* color: #666; */
  margin-bottom: 6px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: var(--color-primary); /* Purple */
  border-radius: 5px;
}

.course-btn {
  width: 100%;
  padding: 10px;
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
